name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: saitejakm
          template: classic
          config_timezone: Asia/Kolkata

          # Real contribution scraping
          base: header, activity
          repositories_affiliations: owner, collaborator, organization_member

          # Output file
          filename: github-metrics.svg

          # Extra stats (needs token)
          plugin_activity: yes
          plugin_activity_days: 365
